html {
  font-size: 15px; }

body {
  font-family: 'Roboto Slab', serif; }

.bienvenidos {
  background: url("../images/fondo-landing.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff9c4;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.bienvenidos .container {
  -webkit-flex: 9 1 auto;
  -ms-flex: 9 1 auto;
  flex: 9 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.encabezado {
  background: #242424;
  color: #fff9c4;
  padding: .3rem 0;
  transition: all 1s ease; }

.encabezado .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.encabezado .logo img {
  height: auto;
  width: 150px; }

.boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: .5rem;
  background: transparent;
  color: white; }

.boton-menu:focus {
  outline: 0; }

#menu-principal {
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0; }

#menu-principal ul a {
  display: block;
  color: #fff9c4;
  padding: .8rem;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #fff9c4;
  text-decoration: none; }

#menu-principal ul a:hover {
  color: #ffb300; }

#menu-principal ul li.active a {
  color: #ffb300; }

.btn-primary {
  color: #fff9c4;
  background-color: #ffb300;
  border: 1px solid transparent;
  margin-top: 1rem;
  transition: all .5s ease; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover {
  color: white;
  background-color: #c68b00;
  border: 1px solid transparent; }

.texto-landing .display-4 {
  margin-top: 6rem; }

.flecha-bajar a {
  display: inline-block;
  color: white;
  font-size: 4rem;
  -webkit-animation: flechaContinuar 2s ease-in-out infinite;
  animation: flechaContinuar 2s ease-in-out infinite; }

@-webkit-keyframes flechaContinuar {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes flechaContinuar {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.fondo-menu {
  background: #151515; }

.distribucion {
  background: #ffb300;
  color: #242424; }

.distribucion p {
  padding: 0 2rem;
  text-align: center; }

.distribucion img {
  max-width: 80%;
  margin: 0 auto;
  display: block; }

.razones {
  background: #424242;
  color: #fff9c4; }

.razones span {
  color: #ffb300; }

.razones ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0; }

.razones ul li {
  padding-top: 2rem;
  min-height: 15rem; }

.razones .ImagenRazones {
  max-width: 80%;
  height: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.razones .container .row {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.razones ul li .fa {
  font-size: 2.5rem;
  color: #424242;
  background: #ffb300;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  line-height: 5rem; }

.razones ul li h3 {
  font-size: 1.2rem;
  color: #ffb300;
  font-weight: bold;
  margin-top: .8rem; }

.Servicios {
  padding-top: 3rem;
  background: url("../images/Fondo_servicios.jpg") no-repeat center top;
  background-size: cover;
  color: #fff9c4;
  background-attachment: fixed; }

.Servicios img {
  -webkit-flex: 0 0 60px;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  overflow: hidden;
  margin-right: 1.3rem; }

.Servicios h3 {
  margin: 0;
  font-size: 1.2rem;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.Servicios article {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem 0; }

.Servicios h3 a {
  text-decoration: none;
  color: #fff9c4;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.Servicios article h3 a::after {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 2.5rem;
  margin-left: 2rem;
  opacity: .5;
  position: relative;
  left: 0;
  transition: all .5s ease; }

.Servicios article a:hover {
  text-decoration: none; }

.Servicios article h3 a:hover::after {
  left: -.5rem;
  color: #ffb300;
  opacity: 1; }

.carrusel {
  background: #ffc439;
  color: #242424; }

.carrusel h2 {
  padding: 0 2rem; }

.slider {
  width: 80%;
  margin: 1rem auto; }

.slick-slide {
  margin: 0px 8px; }

.slick-slide img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #424242; }

.slick-track a:hover {
  text-decoration: none; }

.slick-track a h4 {
  font-size: 1.2rem; }

.slick-slide p,
.slick-slide h4 {
  color: #242424; }

.slick-dots {
  bottom: 0; }

.slick-prev:before,
.slick-next:before {
  color: #242424; }

#carr {
  margin-bottom: 0;
  padding-bottom: 2rem; }

.modal .modal-body .container .row div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.modal .modal-body img {
  padding: 1rem;
  height: auto;
  width: 100%;
  border-radius: 20px; }

.piedepagina {
  background: #242424;
  color: #fff;
  text-align: center;
  font-size: .8rem; }

.piedepagina .rrss {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0; }

.piedepagina .rrss li {
  list-style: none; }

.piedepagina .rrss a {
  color: #fff;
  list-style: none;
  font-size: 4rem;
  margin: 2rem;
  opacity: .7;
  transition: all .5s ease; }

.piedepagina .rrss a:hover {
  color: #fff;
  list-style: none;
  font-size: 4rem;
  margin: 2rem;
  opacity: 1; }

.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #fff;
  opacity: .7;
  text-decoration: none;
  z-index: 9999;
  line-height: 0;
  transition: all 1s ease;
  display: none; }

.ir-arriba:hover,
.ir-arriba:focus {
  outline: 0;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  transition: all 1s ease; }

@media (max-width: 767px) {
  .pagina-interna .modal .modal-body img {
    max-height: 130px; }
  .distribucion img {
    max-height: 30vh; } }

@media (min-width: 768px) {
  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-left: auto; }
  #menu-principal ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0; }
  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0;
    border-bottom: 4px solid transparent; }
  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: #ffb300;
    border-bottom: 3px solid #ffb300;
    transition: all .5s ease; }
  .encabezado .logo img {
    margin-left: 2rem; }
  .Servicios article {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .Servicios img {
    -webkit-flex: 0 0 160px;
    -ms-flex: 0 0 160px;
    flex: 0 0 160px;
    overflow: hidden;
    margin-right: 0;
    margin-bottom: 1rem;
    transition: all 1s ease; }
  .Servicios article:hover img {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transform-style: preserve3d;
    transform-style: preserve3d; }
  .Servicios article p {
    margin-top: 2rem; }
  .Servicios article h3 a::after {
    display: none; }
  .Servicios article h3 {
    font-size: 1.5rem;
    margin: 0 0 .5rem 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
  .Servicios article .btn-secondary {
    color: #424242;
    border-radius: 8px;
    margin-top: auto;
    background: #ffb300;
    border: 0; }
  .pagina-interna .lista-serv .item-serv a {
    margin-top: auto; } }

@media (min-width: 992px) {
  html {
    font-size: 16px; }
  .razones ul li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .razones ul li .fa {
    text-align: center;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-right: 1rem;
    transition: all 1s ease; }
  .razones .contenedor-razon {
    -webkit-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px; }
  .razones ul li .contenedor-razon h4 {
    font-size: 1rem; }
  .razones ul:first-child .fa {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 1rem; }
  .razones ul li p {
    font-size: .85rem; }
  .razones ul li:hover .fa {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transform-style: preserve3d;
    transform-style: preserve3d;
    background: #fff9c4; }
  .razones ul li:hover h3 {
    color: #fff9c4; }
  .razones ul li:hover p {
    color: #ffb300; } }

.pagina-interna .bienvenidos {
  height: 50vh; }

.pagina-interna .ruta {
  padding: 1rem 0;
  color: #ffb300;
  background: #242424;
  margin-right: auto; }

.pagina-interna .ruta a {
  color: #ffb300;
  text-decoration: underline; }

.pagina-interna .ruta a:hover {
  color: #ffb300;
  text-decoration: none; }

.pagina-interna main article h2 {
  color: #242424; }

.pagina-interna main article p {
  color: #424242; }

.pagina-interna main aside .card-header {
  background: #ffc439;
  transition: all .5s ease; }

.pagina-interna main aside .card:hover .card-header {
  background: #242424;
  transition: all .5s ease; }

.pagina-interna main aside .card:hover .card-header a {
  color: #ffc439; }

.pagina-interna main aside .card-header a {
  color: #242424; }

.pagina-interna aside img {
  max-height: 150px; }

.pagina-interna {
  background: #424242; }

.pagina-interna .about-content {
  background: white;
  margin-top: 1.5rem; }

.pagina-interna .endpic {
  padding-top: 1rem;
  margin-bottom: -2rem; }

.pagina-interna .lista-serv .card {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 12px; }

.pagina-interna .lista-serv .card .fa {
  font-size: 2.5rem;
  color: #ffb300;
  background: #242424;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  margin-bottom: 2rem;
  transition: all 1.5s ease;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.pagina-interna .lista-serv .card:hover .fa {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  -webkit-transform-style: preserve3d;
  transform-style: preserve3d; }

.pagina-interna main {
  background: #424242; }

.pagina-interna .lista-serv .col-md-4 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.pagina-interna .lista-serv .item-serv {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.pagina-interna .lista-serv .item-serv .btn-secondary {
  margin-top: auto; }

.pagina-interna main .btn-secondary {
  background: #424242;
  color: white;
  border-color: #242424; }

.pagina-interna main .btn-secondary:hover {
  background: #242424;
  color: white;
  border-color: #242424; }

.pagina-interna main button[type="reset"] {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc; }

.pagina-interna main button[type="reset"]:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad; }

.with-errors ul li {
  color: #d9534f; }

.hidden-xs-up {
  display: none !important; }

@media (max-width: 543px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 544px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }

.hidden-xl-down {
  display: none !important; }

/*# sourceMappingURL=estilos.css.map */