//-----------------
//--Colores--------
//-----------------
$Gris:#424242;
$GrisO:#242424;
$BlancoEspuma:#fff9c4;
$AmarilloPrincipal: #ffb300;
$AmarilloSecundario:#ffc439;
$AmarilloOscuro: #c68b00;
html{
	font-size: 15px;
}
body{
	font-family: 'Roboto Slab', serif;
}
.bienvenidos{
	background: url("../images/fondo-landing.jpg") no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	color: $BlancoEspuma;
	display: flex;
	flex-direction: column;
}
.bienvenidos .container{
	flex: 9 1 auto;
	display: flex;
	align-items: center;
}
.encabezado{
	background: $GrisO;
	color: $BlancoEspuma;
	padding: .3rem 0;
	transition: all 1s ease;
}
.encabezado .container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.encabezado .logo img{
	height: auto;
	width: 150px;
}
// Estilos para botones de buscar y menu
.boton-menu{
	border: 0;
	font-size: 2rem;
	margin: 0;
	padding: .5rem;
	background: transparent;
	color: white;
}

.boton-menu:focus{
	outline: 0;
}

// Bloque Buscar

#menu-principal {
	flex: 1 1 100%;
}
#menu-principal ul {
	padding: 0;
	list-style: none;
	margin: 1rem 0 0 0;
}
#menu-principal ul a{
	display: block;
	color:$BlancoEspuma;
	padding: .8rem;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid $BlancoEspuma;
	text-decoration: none;
}
#menu-principal ul a:hover{
	color:$AmarilloPrincipal;
}
#menu-principal ul li.active a{
	color:$AmarilloPrincipal;
}
.btn-primary {
	color: $BlancoEspuma;
	background-color: $AmarilloPrincipal;
	border: 1px solid transparent;
	margin-top: 1rem;
	transition: all .5s ease;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover {
	color: white;
	background-color: $AmarilloOscuro;
	border: 1px solid transparent;
}
.texto-landing .display-4 {
	margin-top: 6rem;
}
.flecha-bajar a{
	display: inline-block;
	color: white;
	font-size: 4rem;
	animation: flechaContinuar 2s ease-in-out infinite;
}
@keyframes flechaContinuar{
	from{
		transform : translateY(0);
	}
	50%{
		transform : translateY(6px);
	}
	to{
		transform : translateY(0);
	}
}


.fondo-menu{
	background: #151515;

}
//Distribución

.distribucion{
	background: $AmarilloPrincipal;
	color: $GrisO;
}

.distribucion p{
	padding: 0 2rem;
	text-align: center;
}
.distribucion img{
	max-width: 80%;
	margin: 0 auto;
	display: block;
}
//////////////////////////////////
.razones{
	background: $Gris;
	color: $BlancoEspuma;
}
.razones  span{
	color: $AmarilloPrincipal;
}
.razones ul {
	padding: 0;
	list-style: none;
	margin: 1rem 0 0 0;
}
.razones ul li{
	padding-top: 2rem;
	min-height: 15rem;
}
.razones .ImagenRazones{
	max-width: 80%;
	height: auto;
	align-self : center;
}
.razones .container .row{
	align-items: center;
}
.razones ul li .fa{
	font-size: 2.5rem;
	color: $Gris;
	background: $AmarilloPrincipal;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
}
.razones ul li h3{
	font-size: 1.2rem;
	color: $AmarilloPrincipal;
	font-weight: bold;
	margin-top: .8rem;
}
///////////////////////////////////////
//Servicios
//////////////////////////////////////
.Servicios{
	padding-top: 3rem;
	background: url("../images/Fondo_servicios.jpg") no-repeat center top;
	background-size: cover;
	color: $BlancoEspuma;
	background-attachment: fixed;
}
.Servicios img{
	flex: 0 0 60px;
	overflow: hidden;
	margin-right: 1.3rem;
}
.Servicios h3{
	margin: 0;
	font-size: 1.2rem;
	flex: 1 1 auto;
}
.Servicios article{
	display: flex;
	align-items: center;
	margin: 1rem 0;
}
.Servicios h3 a{
	text-decoration: none;
	color: $BlancoEspuma;
	justify-content: space-around;
	display: flex;
	align-content: center;
}
.Servicios article h3 a::after{
	content:"\f054";
	font-family: FontAwesome;
	font-size: 2.5rem;
	margin-left: 2rem;
	opacity: .5;
	position: relative;
	left: 0;
	transition: all .5s ease;
}
.Servicios article a:hover{
	text-decoration: none;
}
.Servicios article h3 a:hover::after{
	left: -.5rem;
	color: $AmarilloPrincipal;
	opacity: 1;
}

//////////////////////////////
/////////CARRUSEL/////////////
//////////////////////////////

.carrusel{
	background: $AmarilloSecundario;
	color: $GrisO;
}

.carrusel h2{
	padding: 0 2rem;
}
.slider {
	width: 80%;
	margin: 1rem auto;
}

.slick-slide {
	margin: 0px 8px;
}

.slick-slide img {
	width: 100%;
	border-radius: 20px;
	border: 1px solid $Gris;
}
.slick-track a:hover{
	text-decoration: none;
}
.slick-track a h4{
	font-size:1.2rem;
}
.slick-slide p,
.slick-slide h4
{
	color: $GrisO;
}
.slick-dots{
	bottom: 0;
}
.slick-prev:before,
.slick-next:before {
	color: $GrisO;
}
#carr{
	margin-bottom: 0;
	padding-bottom: 2rem;
}

/////////////////////////
// Ventanas Modales/////
///////////////////////

.modal .modal-body .container .row div{
	display: flex;
}
.modal .modal-body img{
	padding: 1rem;
	height: auto;
	width: 100%;
	border-radius: 20px;
}



/////////////////////////
// Footer///////////////
///////////////////////
.piedepagina{
	background: $GrisO;
	color: #fff;
	text-align: center;
	font-size: .8rem;
}
.piedepagina .rrss{
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}
.piedepagina .rrss li{
	list-style: none;
}
.piedepagina .rrss a{
	color: #fff;
	list-style: none;
	font-size: 4rem;
	margin: 2rem;
	opacity: .7;
	transition: all .5s ease;
}
.piedepagina .rrss a:hover{
	color: #fff;
	list-style: none;
	font-size: 4rem;
	margin: 2rem;
	opacity: 1;
}
//////////////////
.ir-arriba{
	position: fixed;
	bottom: 1rem;
	right:1rem;
	font-size: 3rem;
	color: #fff;
	opacity: .7;
	text-decoration: none;
	z-index: 9999;
	line-height: 0;
	transition: all 1s ease;
	display: none;
}

.ir-arriba:hover,
.ir-arriba:focus{
	outline: 0;
	text-decoration: none;
	color: #fff;
	opacity: 1;
	transition: all 1s ease;
}
///////////////////////////////////////
///////////MEDIAS QUERIES//////////////
///////////////////////////////////////
@media (max-width:767px){
	.pagina-interna .modal .modal-body img{
		max-height: 130px;
	}
	.distribucion img{
		max-height: 30vh;
	}
}
@media (min-width:768px){
	#menu-principal{
		height: auto !important;
		display: block;
		flex: 0 1 auto;
		order: 1;
		margin-left: auto;
	}
	#menu-principal ul{
		display: flex;
		margin: 0 0 0 0;
	}
	#menu-principal ul li a{
		padding: .8rem;
		text-transform: capitalize;
		margin: 0 .3rem;
		border-top: 0;
		border-bottom: 4px solid transparent;
	}
	#menu-principal ul li.active a,
	#menu-principal ul li a:hover{
		color: $AmarilloPrincipal;
		border-bottom: 3px solid $AmarilloPrincipal;
		transition: all .5s ease;
	}

	.encabezado .logo img {
		margin-left: 2rem;
	}

	.Servicios article{
		flex-direction:column;
		align-items: center;
		text-align: center;
	}
	.Servicios img{
		flex: 0 0 160px;
		overflow: hidden;
		margin-right: 0;
		margin-bottom: 1rem;
		transition: all 1s ease;
	}
	.Servicios article:hover img{
		transform: rotateY(360deg);
		transform-style:preserve3d;
	}
	.Servicios article p{
		margin-top: 2rem;
	}
	.Servicios article h3 a::after{
		display: none;
	}
	.Servicios article h3{
		font-size: 1.5rem;
		margin: 0 0 .5rem 0;
		flex: 0 1 auto;
	}
	.Servicios article .btn-secondary{
		color: $Gris;
		border-radius: 8px;
		margin-top: auto;
		background: $AmarilloPrincipal;
		border: 0;

	}

	.pagina-interna .lista-serv .item-serv a{
		margin-top: auto;
	}
}
@media (min-width:992px){
	html{
		font-size: 16px;
	}
	.razones ul li{
		display: flex;
	}
	.razones ul li .fa{
		text-align: center;
		flex: 0 1 auto;
		margin-right: 1rem;
		transition: all 1s ease;
	}
	.razones .contenedor-razon{
		flex: 1 0 0px;
	}
	.razones ul li .contenedor-razon h4{
		font-size: 1rem;
	}
	.razones ul:first-child .fa{
		order: 1;
		margin-left: 1rem;
	}
	.razones ul li p{
		font-size: .85rem;
	}
	.razones ul li:hover .fa{
		transform: rotateY(360deg);
		transform-style:preserve3d;
		background: $BlancoEspuma;
	}
	.razones ul li:hover h3{
		color: $BlancoEspuma;
	}
	.razones ul li:hover p{
		color: $AmarilloPrincipal;
	}
}

///////////////////////////////////////
//////////////PAGINAS INTERNAS/////////
///////////////////////////////////////
.pagina-interna .bienvenidos{
	height: 50vh;
}
.pagina-interna .ruta{
	padding: 1rem 0;
	color: $AmarilloPrincipal;
	background: $GrisO;
	margin-right: auto;
}
.pagina-interna .ruta a{
	color: $AmarilloPrincipal;
	text-decoration:underline;
}
.pagina-interna .ruta a:hover{
	color: $AmarilloPrincipal;
	text-decoration:none;
}
.pagina-interna main article  h2{
	color: $GrisO;
}

.pagina-interna main article  p{
	color: $Gris;
}

.pagina-interna main aside .card-header{
	background: $AmarilloSecundario;
	transition: all .5s ease;
}
.pagina-interna main aside .card:hover .card-header{
	background: $GrisO;
	transition: all .5s ease;
}
.pagina-interna main aside .card:hover .card-header a{
	color: $AmarilloSecundario;
}
.pagina-interna main aside .card-header a{
	color: $GrisO;
}
.pagina-interna aside img{
	max-height:150px;
}
.pagina-interna {
	background: $Gris;
}

.pagina-interna .about-content{
	background: white;
	margin-top: 1.5rem;
}
.pagina-interna .endpic{
	padding-top: 1rem;
	margin-bottom: -2rem;
}
//////////////////////////////////////
// PAGINA DE SERVICIOS/////////////////
///////////////////////////////////////

.pagina-interna .lista-serv .card{
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 12px;
}

.pagina-interna .lista-serv .card .fa{
	font-size: 2.5rem;
	color: $AmarilloPrincipal;
	background: $GrisO;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	margin-bottom: 2rem;
	transition: all 1.5s ease;
	align-self: center;
}
.pagina-interna .lista-serv .card:hover .fa{
	transform: rotateY(360deg);
	transform-style:preserve3d;
	
}

.pagina-interna main{
	background: $Gris;
} 

.pagina-interna .lista-serv .col-md-4{
	display: flex;
}
.pagina-interna .lista-serv .item-serv {
	display: flex;
	flex-direction: column;
}
.pagina-interna .lista-serv .item-serv .btn-secondary{
	margin-top: auto;
}

///////////////////////////////////////
/////////// Contacto //////////////////
///////////////////////////////////////
.pagina-interna main .btn-secondary{
	background: $Gris;
	color: white;
	border-color: $GrisO;
}
.pagina-interna main .btn-secondary:hover{
	background: $GrisO;
	color: white;
	border-color: $GrisO;
}

.pagina-interna main button[type="reset"]{
	color: #292b2c;
	background-color: #fff;
	border-color: #ccc;
}
.pagina-interna main button[type="reset"]:hover{
	color: #292b2c;
	background-color: #e6e6e6;
	border-color: #adadad;
}


///////////////////////////////////////
/////FORMULARIO DE CONTACTO////////////
///////////////////////////////////////
.with-errors ul li{
	color: #d9534f;
}
///////////////////////////////////////
// CLASES DE RESPONSIVE HIDDEN/////////
///////////////////////////////////////
.hidden-xs-up {
	display: none !important;
}
@media (max-width: 543px) {
	.hidden-xs-down {
		display: none !important;
	}
}
@media (min-width: 544px) {
	.hidden-sm-up {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.hidden-sm-down {
		display: none !important;
	}
}
@media (min-width: 768px) {
	.hidden-md-up {
		display: none !important;
	}
}
@media (max-width: 991px) {
	.hidden-md-down {
		display: none !important;
	}
}
@media (min-width: 992px) {
	.hidden-lg-up {
		display: none !important;
	}
}
@media (max-width: 1199px) {
	.hidden-lg-down {
		display: none !important;
	}
}
@media (min-width: 1200px) {
	.hidden-xl-up {
		display: none !important;
	}
}
.hidden-xl-down {
	display: none !important;
}
